<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Link-Collector</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 m-5">
                <h1 style="border-bottom:2px solid orangered;padding-bottom:5px;">Link Collector</h1>
            </div>
        </div>
        <div class="row m-5">
            <div class="col-md-4">
                <form method="POST" action="/">
                    {% csrf_token %}
                    <input class="form-control" name="site" type="text" id="site" placeholder="enter site address">
            </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary" type="submit">Scrape</button>
                    </div>
                </form>
                <div class="col-md-7">
                    <a class="btn btn-warning" href="/delete">Delete</a>
                </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in data %}
                        <tr>
                            <td>{{link.id}}</td>
                            <td>{{link.name}}</td>
                            <td>{{link.address}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
      
</body>
</html>